<!DOCTYPE html>
<html>
<head>
  <title>Agregar producto</title>
</head>
<body>
  <h1>Agregar producto</h1>

  <form action="/cart/addProduct" method="post">
    <input type="text" name="productId" placeholder="ID del producto">
    <input type="submit" value="Agregar">
  </form>
</body>
</html>