<!DOCTYPE html>
<html>
<head>
  <title>Realizar el pago</title>
</head>
<body>
  <h1>Realizar el pago</h1>

  <p>
    ¿Estás seguro de que deseas realizar el pago?
  </p>

  <a href="/cart/checkout/confirm">Sí</a>
  <a href="/cart">No</a>
</body>
</html>