<!DOCTYPE html>
<html>
<head>
  <title>Eliminar producto</title>
</head>
<body>
  <h1>Eliminar producto</h1>

  <form action="/cart/removeProduct" method="post">
    <input type="text" name="productId" placeholder="ID del producto">
    <input type="submit" value="Eliminar">
  </form>
</body>
</html>
